<template>
  <VueShowdown :markdown="mdFile"/>
</template>

<script>
import mdFile from 'raw-loader!../assets/GDPRConsentForm.md'
export default {
  data(){
    return {
      mdFile
    }
  }
}
</script>
