<template>
  <v-row justify="center" align="center" v-if="!isAuthorized">
    <v-form
      ref="form"
      v-model="valid"
      @keyup.enter.native="authenticate"
    >
      <v-text-field
        v-model="username"
        label="Username"
        required
        :rules="[rules.required]"
        autofocus
      ></v-text-field>

      <v-text-field
        v-model="password"
        label="Password"
        required
        :append-icon="show ? 'visibility' : 'visibility_off'"
        :rules="[rules.required, rules.min]"
        :type="show ? 'text' : 'password'"
        hint="At least 8 characters"
        counter
        @click:append="show = !show"
      ></v-text-field>

      <v-btn
        :disabled="!valid"
        color="info"
        class="mr-4"
        @click="authenticate"
      >
        Login
      </v-btn>
    </v-form>
  </v-row>
</template>

<script>
  export default {
    data(){
      return {
        username : "",
        password : "",
        show : false,
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 4 || 'Min 8 characters',
        },
        valid : false,
      }
    },
    computed : {
      isAuthorized : function(){ return this.$store.state.claims.authorized}
    },
    methods: {
      authenticate: function () {
        let username = this.username
        let password = this.password
        this.$store.dispatch('authenticate', { username, password })
      }
    }
  }
</script>
