<template>
  <v-row align="center" v-if="!claims.isAuthorized" wrap>
    <v-col cols="12" xs="12" sm="6" offset-sm="1" md="4" offset-md="2" lg="3" offset-lg="2" xl="2" offset-xl="3">
      <qrcode :size="300" :value="'otpauth://totp/' + claims.username +'?secret=' + secret + '&issuer=Brurberg.no'" />
    </v-col>
    <v-col cols="8" offset="2" sm="4" offset-sm="0" md="4" lg="2">
      <p>Scan the QR-code with a authenticator app and type the one time password you get into the box below for verification. You will be logged inn when this process is done.</p>
      <a href="https://www.google.com/landing/2step/" target="_blank">Information about multifactor authentication.</a><br>
      <a href="https://google-authenticator.com/" target="_blank">Install a app to handle MFA.</a>
    </v-col>
    <v-col cols="8" offset="2" lg="2" offset-lg="0">
      <v-row justify="center" align="center" wrap>
        <v-col cols="6" lg="12">
          <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_us' target="_blank"><v-img height="82.5" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' class="my-0" contain/></a>
        </v-col>
        <v-col cols="6" lg="12">
          <a href='https://apps.apple.com/us/app/google-authenticator/id388497605' target="_blank"><v-img :src="require('../assets/App_Store.svg')" class="my-3" contain height="60"/></a>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import qrcode from 'qrcode.vue'
export default {
  components: {
    qrcode
  },
  computed : {
    claims : function(){ return this.$store.state.claims},
    secret : function(){ return this.$store.state.otpsecret},
  }
}
</script>
