<template>
  <v-row justify="center" align="center">
    <v-form
      ref="form"
      v-model="valid"
      @keyup.enter.native="register"
    >
      <v-text-field
        v-model="firstname"
        label="Firstname"
        autofocus
      ></v-text-field>

      <v-text-field
        v-model="sirname"
        label="Sirname"
      ></v-text-field>

      <v-text-field
        v-model="birthday"
        label="Birthday"
      ></v-text-field>

      <v-text-field
        v-model="email"
        :required="mailInstedOfMFA"
        :label="(mailInstedOfMFA ? '* ' : '') + 'Email'"
        :rules="[rules.email]"
        clearable
      ></v-text-field>

      <v-text-field
        v-model="address"
        label="Address"
      ></v-text-field>

      <v-text-field
        v-model="postcode"
        label="Postcode"
      ></v-text-field>

      <v-text-field
        v-model="username"
        label="* Username"
        required
        :rules="[rules.required]"
      ></v-text-field>

      <v-text-field
        v-model="password"
        label="* Password"
        required
        :append-icon="show ? 'visibility' : 'visibility_off'"
        :rules="[rules.required, rules.min]"
        :type="show ? 'text' : 'password'"
        hint="At least 8 characters"
        counter
        @click:append="show = !show"
      ></v-text-field>

      <v-text-field
        v-model="password_confirmation"
        label="* Confirm Password"
        required
        :append-icon="show ? 'visibility' : 'visibility_off'"
        :rules="[rules.required, rules.min, rules.confirmation]"
        :type="show ? 'text' : 'password'"
        hint="At least 8 characters"
        counter
        @click:append="show = !show"
      ></v-text-field>

      <v-switch v-model="mailInstedOfMFA" label="Verify with mail insted of MFA"/>

      <div class="d-flex">
        <v-switch v-model="gdprConsent"/>
        <v-dialog
          v-model="gdprdialog"
          :fullscreen="$vuetify.breakpoint.xsOnly"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              color="info"
              text
              v-on="on"
              class="mt-4"
            >
              Consent to GDPR Form
            </v-btn>
          </template>

          <v-card>
            <v-card-title
              class="headline grey lighten-2"
              primary-title
            >
              Privacy Policy
            </v-card-title>

            <v-card-text>
              <br/>
              <GDPRConsentForm/>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                text
                @click="gdprdialog = false; gdprConsent = true"
              >
                I accept
              </v-btn>
              <v-btn
                color="error"
                text
                @click="gdprdialog = false"
              >
                Close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>

      <v-btn
        :disabled="!valid || !gdprConsent"
        color="info"
        class="mr-4"
        @click="register"
      >
        Register
      </v-btn>
    </v-form>
  </v-row>
</template>

<script>
import GDPRConsentForm from '@/components/GDPRConsentForm.vue'
import constants from '@/constants.js'
  export default {
    components: {
      GDPRConsentForm
    },
    data(){
      return {
        firstname: "",
        sirname: "",
        birthday: "",
        username: "",
        email: "",
        address: "",
        postcode: "",
        password : "",
        password_confirmation : "",
        show : false,
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          email: v => v == null || v.length == 0 || /.+@.+\..+/.test(v) || 'E-mail must be valid',
          confirmation: v => v == this.password || 'Not the same ass password',
        },
        valid : false,
        gdprConsent : false,
        gdprdialog : false,
        mailInstedOfMFA : false,
      }
    },
    methods: {
      register: function () {
        if (!this.gdprConsent) {
          // should add an error and stuff here
          return
        }
        let data = {
          user: {
            firstname: this.firstname,
            sirname: this.sirname,
            birthday: this.birthday,
            username: this.username,
            email: this.email,
            address: this.address,
            postcode: this.postcode,
            password: this.password,
          },
          mailInstedOfMFA: this.mailInstedOfMFA,
          gdprConsentID: constants.GDPRConsentFormCommitID
        }
        this.$store.dispatch('registeruser', data)
      }
    }
  }
</script>
