<template>
  <v-row justify="center" align="center" v-if="!isAuthorized">
    <v-form
      ref="form"
      v-model="valid"
      @keyup.enter.native="verifymail"
    >
      <v-text-field
        v-model="code"
        label="Code from mail"
        required
        :rules="[rules.required, rules.otp]"
        hint="The code from the mail is a 6 didgits"
        counter="6"
        autofocus
      ></v-text-field>

      <v-btn
        :disabled="!valid"
        color="info"
        class="mr-4"
        @click="verifymail"
      >
        Verify
      </v-btn>
    </v-form>
  </v-row>
</template>

<script>
  export default {
    data(){
      return {
        username : "",
        password : "",
        code : "",
        authenticated : false,
        show : false,
        rules: {
          required: value => !!value || 'Required.',
          otp: v => v.length == 6 || '6 didgets',
        },
        valid : false,
        valid2 : false
      }
    },
    computed : {
      isAuthorized : function(){ return this.$store.state.claims.authorized}
    },
    methods: {
      authenticate: function () {
        let username = this.username
        let password = this.password
        this.$store.dispatch('authenticate', { username, password })
          .then(() => {
            this.authenticated = true
            this.$refs.search.focus()
          })
          .catch(() => {})
      },
      verifyotp: function () {
        let otp = this.otp
        this.$store.dispatch('verifymail', { otp })
          .then(() => this.$router.push('/'))
          .catch(() => {})
      }
    }
  }
</script>
