<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title>
        PQM Systems
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn text to="/">
          Home
        </v-btn>
        <v-btn text
          to="about">
          About
        </v-btn>
        <v-btn text
          v-show="isAuthorized"
          to="secure">
          Secure
        </v-btn>
        <v-btn text
          v-if="!isAuthorized"
          to="register"
          >
          Register
        </v-btn>
        <v-btn text
          v-if="isAuthorized"
          @click="logout"
          >
          Log out
        </v-btn>
        <v-btn text
          v-else
          to="login">
          Log In
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  computed : {
    isAuthorized : function(){ return this.$store.state.claims.authorized}
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
      .then(() => {
        this.$router.push('/')
      })
    }
  },
};
</script>
