<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld v-if="isAuthorized"/>
    <h1 v-else>Login too see more!</h1>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  computed : {
    isAuthorized : function(){ return this.$store.state.claims.authorized}
  }
}
</script>
