<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12"
        align="center"
        justify="center"
        >
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-col>
      <v-col cols="12"
        align="center"
        justify="center"
        >
        <Login v-if="isAuthorized == undefined"/>
        <OTP v-else-if="!isAuthorized"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/Login.vue'
import OTP from '@/components/OTP.vue'

export default {
  name: 'login',
  components: {
    Login,
    OTP
  },
  computed : {
    isAuthorized : function(){ return this.$store.state.claims.authorized},
  }
}
</script>
