<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12"
        align="center"
        justify="center"
        >
        <Register v-if="isAuthorized == undefined"/>
        <div v-else-if="!isAuthorized && claims.email != undefined && claims.email != null && claims.email != ''">
        </div>
        <div v-else-if="!isAuthorized">
          <OTPQR/>
          <OTP/>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import Register from '@/components/Register.vue'
import OTP from '@/components/OTP.vue'
import OTPQR from '@/components/OTPQR.vue'

export default {
  name: 'register',
  components: {
    Register,
    OTP,
    OTPQR
  },
  computed : {
    isAuthorized : function(){ return this.$store.state.claims.authorized},
    claims : function(){ return this.$store.state.claims},
  }
}
</script>
